n    <% if notice %>
        <div class="alert alert-info">
          <strong>Notice!</strong> <%= notice %>
        </div>
    <% end %>

    <% if alert %>
        <div class="alert alert-danger">
          <strong>Alert!</strong> <%= alert %>
        </div>
    <% end %>

  <div class="row">
<div class="ibox-content">
    <div class="col-xl-6">
        <div class="text-center">
            <h3 class="mb-3">
              <strong>Sign Up</strong>
            </h3>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.email_field :email,:placeholder=>"Email", :class=>"form-control", autofocus: true %>
          </div>
          <div class="form-group">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" , class: 'form-control'%>
          </div>
          <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>

          <%= f.submit "Sign up", :class => "btn btn-primary block full-width m-b" %>
        <% end %>
    </div>
  <%= render "devise/shared/links" %>
</div>
  </div>

