
<div class="row action-button-margins">
    <div class="col-md-2">
      <%= link_to "New Housing", new_housing_rental_path, class: "btn btn-outline-primary"%>
    </div>
  
    <div class="col-md-2">
       <%= form_tag import_loans_path, multipart: true, class: 'form-inline' do %>
        <div class="form-group">
          <%= link_to "Export CSV", loans_path(format: "csv"), class: 'btn btn-outline-success btn-md' %>
        </div>
      <% end %>
    </div>

    <div class="col-md-10">
      <div class="full-left">
        <% if user_signed_in?%>
          <span class="user"><%= current_user.email %></span> |
              <%#= link_to "Change Password", edit_user_registration_path %>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
        <% end %>
      </div>
    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="ModalAddFinance" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Loan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="errors_invoice">
        </div>
        <%#= render "form2" %>
      </div>
    </div>
  </div>
</div>



<style type="text/css">
  ul {list-style: none;padding: 0px;margin: 0px;}
  ul li {display: block;position: relative;float: left;border:1px solid #fff}
  li ul {display: none;}
  ul li a {display: block;background: #fff;padding: 5px 10px 5px 10px;text-decoration: none;
           white-space: nowrap;color: #fff;}
  ul li a:hover {background: #fff;}
  li:hover ul {display: block; position: absolute;}
  li:hover li {float: none;}
  li:hover a {background: #b9b9b9;}
  li:hover li a:hover {background: #0275d8;}
  #drop-nav li ul li {border-top: 0px;}
  .email{
    padding-top: 1%;
  }
  .hi{
    color: black;
    background-color: #94a294;
  }
  .user{
    background-color: orange;
    font-size: 20px;

  }
  .full-left{
        width: 99%;
    float: right;
    margin-top: -8%;
}
  }
</style>









<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}
</script>




<style type="text/css">
  <style>
#dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#dropbtn:hover, #dropbtn:focus {
    background-color: #3e8e41;
}

#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
</style>
</style>