<div class="table_invoice">
  <table class='table table-striped table-bordered table-hover'>
    <thead>
      <tr class="bg-primary">
        <th class="align_center">Name</th>
        <th class="align_center">Contact No</th>
        <th class='align_center'>Socity Name</th>
        <th class='align_center'>Block</th>
        <th class='align_center'>Flat number</th>
        <th class='align_center'>Square Feet</th>
        <th class='align_center'>Bedroom </th>
        <th class="align_center">Negotiable</th>
        <th class="align_center">Site Visit</th>
        <th class="align_center">Rental Amt</th>
        <th class="align_center">Deposit</th>
        <th class='align_center'>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @housings.each do |feedback| %>
      <tr>
        <td class="align_center">
          <%= truncate(feedback.name, length: 20) %>
        </td>
        <td class="align_center">
          <%= feedback.contact %>
        </td>
        <td class="align_center">
          <%= truncate(feedback.society_name, length: 20) %>
        </td>
        <td class="align_center">
          <%= feedback.block %>
        </td>
        <td class="align_center">
          <%= truncate(feedback.flat_no, length: 20) %>
        </td>
        <td class="align_center">
          <%= feedback.square_feet %>
        </td>
        <td class="align_center">
          <%= feedback.bedroom %>
        </td>
         <td class="align_center">
          <%= feedback.negotiable %>
        </td>
         <td class="align_center">
          <%= feedback.site_visit %>
        </td>
         <td class="align_center">
          <%= feedback.rental_amt %>
        </td>
         <td class="align_center">
          <%= feedback.deposit %>
        </td>
        <td class="col-4">
          <%= link_to 'Edit', edit_housing_rental_path(feedback) %>
          <%= link_to 'Show', housing_rental_path(feedback),class: "btn btn-outline-primary btn-md" %>
          <%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
    </tfoot>
  </table>

      <% if @housings.empty? %>
          <div class="align_center">
            <span class="no_record"><%= " No Records Found.."%></span>
          </div>
      <% end %>
</div>
<div class="flickr_pagination pagination-margin">
  <%= will_paginate @housings, container: false %>
</div>


<style>
  
  .no_record{
    color: red;
  }
</style>
